/*----------------
    media info
----------------*/

#mpris {
	padding: 0 12px;
}

/*------------
    volume
------------*/

#custom-left_div.6 {
	color: @volume;
}
#pulseaudio,
#wireplumber {
	background-color: @volume;
}

/*----------------
    brightness
----------------*/

#custom-left_div.7 {
	background-color: @volume;
	color: @backlight;
}
#backlight {
	background-color: @backlight;
}

/*-------------
    battery
-------------*/

#custom-left_div.8 {
	background-color: @backlight;
	color: @battery;
}
#battery {
	background-color: @battery;
}
#custom-left_inv.2 {
	color: @battery;
}

/*----------------
    power menu
----------------*/

#custom-power_menu {
	border-radius: 16px;
	padding: 0 19px 0 16px;
	color: @accent;
}
#custom-power_menu:hover {
	background-color: @hover-bg;
}

#custom-weather {
  padding: 0 10px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.08);
  color: #eaeaea;
}

#custom-weather.weather-off {
  color: #ff6b6b;
}


